body{
    background-image: url("/imagens/subtema.jpeg");
    background-size: cover;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
}

.Elementos{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
 
 
}
.Titulo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    background-color: rgba(128, 128, 128, 0.5); 
    border-radius: 10px;
    width: 140px;
    height: 50px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
}

.AtividadeI{
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    background-color: #CAC4FA;
    border-radius: 30px;

}

.AtividadeII{
    width: 800px;
    height: 50px;
    display: flex;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    background-color: #CAC4FA;
    border-radius: 30px;
}

.AtividadeIII{
    width: 800px;
    height: 50px;
    display: flex;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    background-color: #CAC4FA;
    border-radius: 30px;
}

.AtividadeI:hover{
    cursor: pointer;
}

.AtividadeII:hover{
    cursor: pointer;
}
.AtividadeIII:hover{
    cursor: pointer;
}



.Botaoconcluir{

    margin-right:2% ;
    margin-top: 2%;
    margin-bottom: 2%;
    border-style: none;
    border-radius: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    width: 120px;
    height: 30px;
    background-color: #C1FF72;
}
.Botaoconcluir:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.Botaocriar{
    background-color: #BAEFB5;
    border-style: none;
    border-radius: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    width: 150px;
    height: 80px;
}

.Botaocriar:hover{
    background-color: aliceblue;
    cursor: pointer;
}
.Botaoeditar{
    border-style: none;
    background-color:#CAC4FA ;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
}

.Subelementos{
    width: 800px;
    height: 250px;
    flex-direction: column;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    display: flex;
    align-items: start;
    gap: 5px;
    background-color: #CAC4FA;
    border-radius: 30px;
    padding-left: 1%;
}
.Botoes{
    display: flex;
    flex-direction: column;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    margin-left: 650px;

    gap: 20px;
}

.Botaoeditarmenor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:2% ;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    margin-top: 2%;
    margin-bottom: 2%;
    border-style: none;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    background-color: #C1FF72;
    border-radius: 20px;
}

.Botaoexcluirmenor{

    background-color: #C1FF72;
    margin-right:2% ;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    margin-top: 2%;
    margin-bottom: 2%;
    border-style: none;
    border-radius: 20px;
    width: 120px;
    height: 30px;

}


.Botaoeditarmenor:hover{
    cursor: pointer;
}

.Botaoexcluirmenor{
    cursor: pointer;
}


