@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #808080;
    --cor-cabecalho: #00ced1;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

.cabecalho {
    display: flex;
    padding-top: 2%;
    padding-left: 8%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-cabecalho);

}

body {

    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    margin: 8%;
    gap: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao_conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao_links_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__ancoras {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}

.apresentacao_ancoras_link {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 16px;
    margin: 20px;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    padding: 21.5px 0;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.3rem;
    /* background-color: #22D4FD; */
    width: 50%;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
}

.apresentacao_ancoras_link:hover {
    background-color: var(--cor-hover);
    font-size: 1.25rem;
    border-radius: 15px;
    cursor: none;
}

.apresentacao_imagem {
    width: 50%;
}

.rodape {
    padding: 10px;
    font-family: var(--fonte-secundaria);
    font-weight: 900;
    display: flex;
    justify-content: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}

@media (max-width: 1040px) {

    .cabecalho {
        justify-content: center;
        padding-top: 5%;
        padding-left: 0%;
        padding-bottom: 10%;
    }

    .cabecalho_menu_link {
        font-family: var(--fonte-secundaria);
        font-weight: 600;
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--cor-cabecalho);

    }

    .apresentacao {
        margin: 5%;
        gap: 82px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }


    .apresentacao__conteudo {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 80px;

    }

}